.result-container {
    width: 100%;
    padding: 20px 0 10px;
}

.result-header {
    margin-bottom: 15px;
    text-transform: none;
}

.book-card-container {
    border-top: 2px solid var(--color-primary);
}

.book-inner-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#add-to-list {
    width: 100%;
    border: 2px solid var(--color-primary);
    border-radius: 25px;
    padding: 5px;
}

.result-inner-content-container {
    display: flex;
    flex-direction: row;
}