.search-bar {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 30px;
    flex-basis: 400px;
    flex-shrink: 1;
    flex-grow: 1;
}

.search-input {
    border: none;
    border-radius: 25px 0 0 25px;
    padding: 8px 250px 8px 15px;
}

.result-header {
    margin-bottom: 15px;
    text-transform: none;
}

.result-container {
    width: 100%;
    border-bottom: 2px solid var(--color-primary);
}

.book-card-container {
    width: 100%;
}