.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    padding: 10px 0;
    font-size: 24px;
}

.login-subtitle {
    padding: 10px 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    padding: 20px 0;
}

.link-to-register {
    text-decoration: underline;
}

#password-link {
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
}

a {
    color: black;
}

img {
    width: 16px;
    line-height: 16px;
    vertical-align: -3px;
}