.author-name {
    margin-bottom: 15px;
}

.book-detail-article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
    /*border: 2px solid red;*/
}

.book-detail-info {
    flex-basis: 500px;
    flex-shrink: 1;
    flex-grow: 0;
    /*border: 2px solid red;*/
}

.book-detail-info p {
    margin: 10px 0;
}