form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    padding: 20px 0;
}

label {
    padding: 10px 0 5px;
    display: flex;
    flex-direction: column;
}

input {
    border: 2px solid var(--color-secondary);
    border-radius: 4px;
    padding: 5px;
    margin: 5px 0;
    max-width: 300px;
}

.input-error-message {
    color: red;
}


@media screen and (max-width: 840px) {
    form {
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 80px;
    }
}