.profile-inner-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    max-width: 400px;
    text-align: center;
}

.profile-picture-container {
    margin: 20px 0 30px;
    width: 175px;
    height: 175px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--color-secondary);
}

.profile-information p {
    font-size: 15px;
}

.profile-picture {
    height: 100%;
}

.username-profile {
    font-size: 22px;
}

.edit-link-container {
    flex-direction: row;
}

.link-container {
    margin: 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-container p {
    margin: 5px;
    font-size: 15px;
}

.edit-link {
    margin: 0 10px;
}