.my-books-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
}

.my-books-link-container p{
    font-size: 16px;
    padding: 5px;
}

.my-books-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-primary);
    font-weight: 600;
    padding: 5px 0;
}

.overview-one {
    display: flex;
    flex-direction: row;
}

.overview-two {
    display: flex;
    flex-direction: row;
}

.overview-one p {
    margin-right: 60px;
}

.overview-two p {
    margin-left: 100px;
}

.overview-two div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#click-to-change {
    font-size: 10px;
    font-weight: 300;
}

.my-books-navigation Button {
    margin-right: 20px;
}

.status-button {
    background-color: var(--color-primary);
    width: 125px;
}

.status-button-wantToRead {
    background-color: var(--color-tertiary);
    width: 125px;
}

.status-and-rating-container {
    display: flex;
    flex-direction: row;
}

.rating-and-remove {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.rating-container {
    margin-top: 10px;
}

.empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-container p {
    font-size: 16px;
}

.book-status {
    padding-right: 20px;
}

.remove-btn {
    background-color: white;
    padding: 5px;
    margin-bottom: 0;
}

.trash-icon {
    height: 20px;
    background-color: white;
}

.active-list-link {
    background-color: white;
    border: 2px var(--color-primary)
}

.activeButton {
    background-color: var(--color-tertiary);
    border: 2px solid var(--color-primary)
}

.inactiveButton {
    background-color: white;
    border: 2px solid var(--color-primary);
}

@media screen and (max-width: 768px) {
    .book-status {
        padding-left: 5px;
    }
}

@media screen and (max-width: 480px) {
    .result-container {
        margin: 0 20px;
    }

    .book-card-container {
        max-width: 400px;
    }
}