
.link-to-login {
    font-size: 16px;
}

.rating-and-remove {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.your-rating {
    margin-top: 15px;
    font-weight: 100;
}

