.browse-preview-container {
    width: 100%;
}

.browse-preview-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 800px;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    margin-top: 30px;
}

.cover-img-browse {
    width: 100%;
    height: 180px;
}

@media screen and (max-width: 900px) {
    .cover-img-browse {
        width: 100%;
        height: 150px;
    }
}

@media screen and (max-width: 768px) {
    .cover-img-browse {
        width: 100%;
        height: 120px;
    }

    .browse-preview-list {
        gap: 10px;
        justify-content: center;
    }

}

@media screen and (max-width: 576px) {

}