.inner-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*border: 2px solid blue;*/
}

.welcome-message {
    text-align: center;
    margin: 40px 0 20px;
}

.welcome-message h2 {
    font-size: 24px;
}

.intro-message {
    margin: 20px 0 30px;
}

.intro-message h3 {
    font-weight: 300;
    padding-bottom: 5px;
}

.preview-title-container {
    width: 100%;
    border-bottom: 2px solid var(--color-primary);
}

.preview-trending-container {
    width: 100%;
    border-bottom: 2px solid var(--color-primary);
}

.link-message {
    margin-top: 30px;
    font-weight: 300;
}

.list-title {
    padding: 10px 0;
}


.trending-inner-container {
    /*border: 2px dotted pink;*/
}

.preview-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 800px;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    margin-top: 30px;
    /*border: 2px solid pink;*/
}

.cover-img-home {
    width: 100%;
    height: 180px;
}

.more-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px 0;
    text-decoration: underline;
}
