.welcome-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 0 30px;
    width: 100%;
}

.welcome-message h2 {
    font-size: 26px;
    font-weight: 300;
}

.dictionary-bookish {
    border: 2px dotted black;
    text-align: left;
    padding: 10px;
    margin-top: 25px;
    max-width: 450px;
}

.dictionary-bookish h4 {
    font-weight: 300;
}

.preview-title-container {
    width: 100%;
    border-bottom: 2px solid var(--color-primary);
}

.preview-trending-container {
    width: 100%;
    border-bottom: 2px solid var(--color-primary);
}

.link-message {
    margin-top: 30px;
    font-weight: 300;
}

.list-title {
    padding: 10px 0;
}

.preview-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 800px;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    margin-top: 30px;
}

.cover-img-home {
    width: 100%;
    height: 180px;
}

.more-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px 0;
    text-decoration: underline;
}

@media screen and (max-width: 840px) {
    .cover-img-home {
        height: 150px;
    }
}

@media screen and (max-width: 768px) {
    .cover-img-home {
        height: 120px;
        padding: 0 10px;
    }

    .preview-list {
        justify-content: center;
        gap: 5px;
    }
}

