.detail-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
    padding: 30px 0;
    border-top: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

.detail-cover {
    flex-basis: 175px;
    flex-shrink: 1;
    flex-grow: 0;
}

.detail-cover-img {
    width: 100%;
}

.detail-info {
    width: 500px;
}

.book-detail-info h2 {
    margin-bottom: 10px;
}

.book-link {
    margin-top: 10px;
}
