.detail-content-container {
    margin-top: 50px;
    padding: 30px 0;
    border-top: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

.detail-article {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.detail-cover {
    flex-basis: 200px;
}

.detail-cover-img {
    width: 100%;
}

.detail-info h2 {
    margin-bottom: 10px;
}

.detail-description {
    max-width: 550px;
}

