.subject-inner-container {
    display: flex;
    flex-direction: row;
}

.subject-nav-container {
    background-color: var(--color-tertiary);
    margin: 114px 0 115px 40px;
    padding: 20px;
    border: 2px solid var(--color-primary);
    border-radius: 3px;
}

.subject-link {
    list-style: none;
    padding-bottom: 10px;
    font-size: 15px;
}

.active-subject-link {
    text-decoration: underline;
    font-weight: 600;
}

.default-subject-link {
    text-decoration: none;
}