.account-settings-inner-content-container {
    margin: 30px 0;
}
.account-settings-succes {
    margin-top: 10px;
    font-size: 15px;
}

.user-data {
    margin: 20px 0;
}

.user-data p {
    margin: 5px 0;
}