.outer-container {
    display: flex;
    justify-content: center;
    flex-basis: 1200px;
    border: 2px dotted black;
    margin: 40px 40px 50px 40px;
}

.inner-container {
    display: flex;
    flex-basis: 800px;
    flex-direction: column;
    border: 2px dotted blue;
    padding: 20px;
}

.header-container {
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



