.header-container {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-title {
    align-items: center;
}

.login-container {
    position: fixed;
    right: 20px;
    top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-button {
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

#user-icon {
    width: 25px;
}


footer {
    width: 100%;
    background-color: var(--color-primary);
    height: 75px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#copyright-icon {
    width: 20px;
}