.picture-form {
    display: block;
}

.edit-profile-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    max-width: 300px;
    text-align: center;
    /*border: 2px dotted black;*/
}

.edit-profile-content-container p {
    font-size: 15px;
}

.preview-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 0;
}

.image-preview {
    height: 100%;
}

.updated-picture-success-message {
    margin: 30px 0;
}

.updated-picture-success-message p {
    margin: 10px 0;
}